@namespace doc url("http://docs.angularjs.org/");

.ng-cloak {
  display: none;
}

div.syntaxhighlighter {
/* fix to remove unnecessary scrollbars http://is.gd/gSMgC */
  padding-bottom: 1px !important;
  padding-right: 6px;
  font-size: 12px;
}
