.footer p {
  margin: 0;
}

form.jsfiddle {
  display: inline;
}

footer {
  margin-bottom: 500px;
}

code.nocode {
  display: inline-block;
  background-color: #e6f0ff;
  border: 1px solid #99c2ff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #223f7a;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e1e1e8;
}

.example {
  margin-top: 1em;
}

.container h1,
.container h2,
.container h3,
.container h4 {
  margin-bottom: .5em;
}

.container h1 {
  margin-top: 3.5em;
}

.container h2 {
  margin-top: 1em;
}

.container h3 {
  margin-top: .5em;
}


.navbar .divider-vertical {margin: 0}
.navbar .nav > li > a {padding: 10px 23px 11px 20px;}


img.AngularJS-large {
  width: 385px;
  height: 100px;
}

img.AngularJS-small {
  width: 95px;
  height: 25px;
}

.video-img {
  width: 300px;
  height: 200px;
  background:url("../img/video-over.png")
}

.video-img:hover img{
  position:absolute; left:-999px; top:-999px;
}

.app-source {
  min-height: 375px;
}

img.cache {
  width: 0;
  height: 0;
}

#videoModal {
  display: block;
  width: 1000px;
  height: 705px;
  margin-left: -500px;
  margin-top: -337px;
}
#videoModal .modal-body {
  max-height: 611px;
  height: 611px;
}
