language: node_js
sudo: false
node_js:
  - '6'

cache:
  yarn: true

jobs:
  include:
    - stage: test
      addons:
        sauce_connect:
          username: angular-ci
        jwt:
          secure: "NJ6eWX3YarBTf2LOjOXFhGfRQ90WQ4ZrukAHUxTyUc1o3AXURb3WRi1HzXFh4fnlliBuaCY85/B5oSctvVg+evAOfnqOPm0WN/AP4/PIY6Xicc3jJDmyaeHtfvq2hb6QwxOciM/Ht7WxPsmlIR0wLz98CwqrOPxltjj25E9pPK4="
      script:
        - mkdir build
        - travis_retry yarn run build copy test
    - stage: deploy
      # https://docs.travis-ci.com/user/conditional-builds-stages-jobs#Specifying-conditions
      if: type != pull_request AND branch = master
      script:
        - mkdir build
        # - "yarn run build copy dist" # dist adds the build to the dist folder
        - "yarn run build copy"
      deploy:
        - provider: Firebase
          # the upload folder for firebase is configured in /firebase.json
          skip_cleanup: true
          message: "Commit: $TRAVIS_COMMIT"
          token:
            # token generated by mjstaffa@gmail.com on 2017/10/13
            secure: "GRRRA+vodB/NvBW7BM4UJ9huwcE29pEHMSn6SJWIZtFjeoOpIUVocqQcOxYEDzJqwBxQmpAqejRxHzsNaPLVs+cdC7m0Tg+QH3pktyob3/kqwyOc0wm0WrinswXZ4CcOlFUZ2AGakQYO1QFZWRfoXIfW8WwNApTj/1p9Rc/xLvY="
          on:
            repo: angular/angularjs.org
            branch:
              - master
