<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" ng-app='homepage'> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="Description"
        content="AngularJS is what HTML would have been, had it been designed for building web-apps.
                 Declarative templates with data-binding, MVC, dependency injection and great
                 testability story all implemented with pure client-side JavaScript!">
  <title>AngularJS — Superheroic JavaScript MVC Framework</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/docs.css">
  <link href="google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
  <style id="todo-style">
    .done-true {
      text-decoration: line-through;
      color: grey;
    }
  </style>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header class="header">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://angularjs.org">AngularJS</a>
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#"><i class="icon-book icon-white"></i> Learn</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#"><i class="icon-pencil icon-white"></i> Develop</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#"><i class="icon-comment icon-white"></i> Discuss</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#"><i class="icon-info-sign icon-white"></i> About</a></li>
            <li class="divider-vertical"></li>
          </ul>
          <form class="navbar-search pull-right" method="GET" action="https://www.google.com/search">
            <input type="text" name="as_q" class="search-query" placeholder="Search">
            <input type="hidden" name="as_sitesearch" value="angularjs.org">
          </form>
        </div>
      </div>
    </div>
  </header>
  <div role="main" class="container">
    <div class="row">
      <div class="span12"><br><br><br><br><br></div>
      <div id="cse" style="width: 100%;"></div>
    </div>
    
    <div class="row">
      <div class="span12">
        <div class="hero-unit">
          <div>
            <div class="pull-left">
              <h1>AngularJS &nbsp;|&nbsp;</h1>
            </div>
            <div>
              <ul class="unstyled">
                <li>Stop writing boilerplate</li>
                <li>Write awesome apps instead of wrestling with browsers.</li>
                <li>Write instantly testable code.</li>
              </ul>
            </div>
            <hr class="black">
            <p>What HTML would have been had it been designed for web apps</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="span4">
        <h1>Learn</h1>
        <h3><a href="#">Why AngularJS?</a></h3>
        <h3><a href="#">5 Minute Tryout</a></h3>
        <h3><a href="#">Watch</a></h3>
        <h3><a href="http://docs.angularjs.org/guide/">Tutorial</a></h3>
        <h3><a href="#">Case Studies</a></h3>
      </div>
      <div class="span4">
        <h1>Develop</h1>
        <h3><a href="http://docs.angularjs.org/api/">API Reference</a></h3>
        <h3><a href="http://docs.angularjs.org/guide/">Concepts</a></h3>
        <h3><a href="#">Download</a></h3>
        <h3><a href="http://docs.angularjs.org/examples/">Examples</a></h3>
        <h3><a href="http://stackoverflow.com/questions/tagged/angularjs">FAQ</a></h3>
      </div>
      <div class="span4">
        <h1>Discuss</h1>
        <h3><a href="#">Latest News</a></h3>
        <h3>Forums: 
            <a href="http://groups.google.com/group/angular" target="_blank">Mail</a>,
            <a href="http://chat.stackoverflow.com/rooms/8618/angularjs" target="_blank">Chat</a>  
        </h3>
        <h3>Follow:
            <a href="https://twitter.com/#!/angularjs" target="_blank">@angularjs</a>,
            <a href="https://plus.google.com/110323587230527980117" target="_blank">+AngularJS</a>
        </h3>
        <h3><a href="https://github.com/angular/angular.js">GitHub</a></h3>
        <h3><a href="https://github.com/angular/angular.js/issues">Issue Trackr</a></h3>
      </div>
    </div>
    
    <hr>

    <div class="row">
      <div class="span12">
        <h1>Basics</h1>
        <div class="row">
          <div class="span4">
            <h3>Data Binding</h3>
            <p>
              HTML is an excellent templating language. AngularJS <a href="" rel="popover"
              data-content="AngularJS extends the HTML vocabulary (elements/attributes) which the
              browsers understand, in an extensible way">adds</a> data-binding <a href=""
              rel="popover" data-content="Other frameworks concatenate HTML string
              templates">directly</a> into HTML using the <code>{{ expression }}</code> notation.
              Form controls are bound bi-directionally and validated. This makes the model the
              single source of truth in your application.
            </p>
          </div>
          <div class="span4">
            <h3>Controller</h3>
            <p>
              Controller is the code behind the DOM. It is pure application behavior in an
              unpolluted imperative way. Define your behavior here, update the model on server
              or user interaction and you are done. No need to register callbacks, or manipulate
              the DOM, just watch the data-binding magic do the work.
            </p>
          </div>
          <div class="span4">
            <h3>Plain JavaScript</h3>
            <p>
              AngularJS wants to be unobtrusive. Unlike other frameworks, there is no need to
              inherit from proprietary types; to wrap the model in assessor methods; or to use
              proprietary collections and object hashes. Just plain old JavaScript here. This
              makes your code easy to test, maintain, reuse, and free from boilerplate.
            </p>
          </div>
        </div>
        <h2>Example</h2>
        <div class="row">
          <div class="span8">
            <div class="pull-right">
              <span hint></span>
              <span js-fiddle="todo"></span>
            </div>
            <h3>Code</h3>
            <div app-source="todo"></div>
          </div>
          <div class="span4">
            <h3>Running App</h3>
            <div app-run="todo" class="well"></div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="span12">
        <h1>Intermediate</h1>
        <div class="row">
          <div class="span4">
            <h3>Deep Linking</h3>
            <p>
            </p>
          </div>
          <div class="span4">
            <h3>Incremental Template Loading</h3>
            <p>
            </p>
          </div>
          <div class="span4">
            <h3>Dependency Injection</h3>
            <p>
            </p>
          </div>
        </div>
        <h2>Example</h2>
        <div class="row">
          <div class="span8">
            <div class="pull-right">
              <span hint></span>
              <span js-fiddle="xtodo"></span>
            </div>
            <h3>Code</h3>
            <div app-source="xtodo"></div>
          </div>
          <div class="span4">
            <h3>Running App</h3>
            <div app-run="xtodo" class="well"></div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="span12">
        <h1>Advanced</h1>
        <div class="row">
          <div class="span4">
            <h3>Directives</h3>
            <p>
            </p>
          </div>
          <div class="span4">
            <h3>Reusable Components</h3>
            <p>
            </p>
          </div>
          <div class="span4">
            <h3>Localization</h3>
            <p>
            </p>
          </div>
        </div>
        <h2>Example</h2>
        <div class="row">
          <div class="span8">
            <div class="pull-right">
              <span hint></span>
              <span js-fiddle="xtodo"></span>
            </div>
            <h3>Code</h3>
            <div app-source="xtodo"></div>
          </div>
          <div class="span4">
            <h3>Running App</h3>
            <div app-run="xtodo" class="well"></div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>Super-powered by Google  ©2010-2012</p>
      <p>Code licensed under the 
         <a href="https://github.com/angular/angular.js/blob/master/LICENSE" target="_blank">The MIT License</a>. 
         Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
      </p>
    </footer>
  </div>

  <!-- JavaScript at the bottom for fast page loading -->
  <!-- end scripts -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script id="angularJS" src="http://code.angularjs.org/angular-1.0.0rc2.min.js"></script>
  <script src="js/homepage.js"></script>
  <script id="todo-script">
    function TodoCtrl($scope) {
      $scope.todos = [
        {text:'learn angular', done:true},
        {text:'build an angular app', done:false}];

      $scope.addTodo = function() {
        $scope.todos.push({text:$scope.todoText, done:false});
        $scope.todoText = '';
      };

      $scope.remaining = function() {
        var count = 0;
        angular.forEach($scope.todos, function(todo) {
          count += todo.done ? 1 : 0;
        });
        return count;
      };

      $scope.archive = function() {
        var oldTodos = $scope.todos;
        $scope.todos = [];
        angular.forEach(oldTodos, function(todo) {
          if (!todo.done) $scope.todos.push(todo);
        });
      };
    }
  </script>
  <script type='template/html' id="todo-html">
    <div ng-controller="TodoCtrl">
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  ng-model-instant size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </script>
  <script type='template/annotate' id="todo-annotate">
    {
    'ng-app': 'Designates AngularJS application boundary.',
    'script': 'Load AngularJS magic',
    'TodoCtrl': 'The code-behind behavior. Notice the complete lack of any special framework dependent boilerplate.',
    '$scope': '$scope is the glue between your behavior and the view. It is the only framework API which the controller comes into contact, but it behaves just like plain-old-JavaSript-object, and therefore it does not hinder re-usability.',
    'todos': 'A simple assignment of model to the $scope is all its needed the data-binding does the rest. The data is plain-old-JavaScript-object no need to wrap the data in proxy objects.',
    'addTodo': 'We can assign behavior to $scope. This is how the view interacts with the code-behind.',
    'push': 'Adding data to an array, will cause ng&ndash;repeat to automatically unroll the array and add new elements into the view. (see <code>ng&ndash;repeat</code> bellow)',
    'todoText': 'Because of the bi-directional data-binding, we can simply read the state of the user input. No need for registering callbacks, event listeners or using framework dependent API.',
    '':'Writing to the form controls is just as easy. The data-binding will clear the control for us.',
    'remaining': 'This is a computed property. No need to define its dependencies or worry about when it needs to be updated.',
    '[]': 'You can replace the model with new instance at any time, without doing any special model listeners unregistered.',
    'ng-controller': 'Everything under this element will be controlled using the TodoCtrl class defined above. You can have multiple controllers per page.',
    'body': 'Notice that this is real HTML which is processed in the browser, not an HTML fragment which is stored elsewhere such as in a <code>&lt;script&gt;</code> tag.',
    '{{remaining()}}': 'If you need to activate data-binding, just use the doubly-curly <code>{{ }}</code> in text or in attributes as you see fit.',
    'ng-click': 'Instead of registering event-handlers you call methods published on the scope. Unlike the browser <code>onclick</code> the <code>ng-click</code> executes against the controller/scope not against global window, which means that <code>ng-click</code> does not suffer frome the same issues as <code>onclick</code> suffers from.',
    'ng-repeat': "For every object in <code>todos</code> create new copy of the <code>li</code> element. Think spreadsheet-like instant update behavior. When objects are added to <code>todos</code> the <code>ng-repeat</code> automatically adds new <code>li</code> into the DOM. Similarly when the elements are removed when the corresponding objects are removed. This is one of the most versatile directives in angular.",
    'ng-model': 'Creates two-way data-binding between the form control and the model. Any user interactions are reflected in the scope, and any writes to the scope are reflected in the view. (<code>ng-model</code> can also perform form validation)',
    '{{todo.done}}': 'The <code>todo.done</code> is <code>false</code> or <code>true</code> which creates class selector <code>done-false</code> and <code>done-true</code> which then adds strike-through.',
    'ng-submit': 'Intercepts form submission and lets the <code>addTodo()</code> method handle it.'
    }
  </script>
  <script src="google-code-prettify/prettify.js"></script>
  <script>
    var _gaq=[
      ['_setAccount','UA-8594346-3'],
      ['_setDomainName', '.angularjs.org'],
      ['_trackPageview'],['_trackPageLoadTime']
    ];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'http://www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
