
/*
* Hero Module
*
* Css for the hero on AngularJS
*
*/

$hero: '.hero';
$hero-bgcolor: $white;

#{$hero} {
  background: $hero-bgcolor;
  padding: ($unit * 16) ($unit * 6) ($unit * 6) ($unit * 6);

  h2 {
    background: url('/img/angularjs-hero-logo.png') top left no-repeat;
    height: 120px;
    margin: 0 auto ($unit * 10) auto;
    overflow: hidden;
    text-indent: -3000px;
    width: 460px;
  }

  .button-primary,
  .button-secondary {
    min-width: $unit * 30;
  }

  .button-primary {
    margin-bottom: $unit * 2;
  }

  .button-secondary {
    margin-bottom: $unit * 8;

    .version {
      font-size: 10px;
      line-height: 16px;
      position: absolute;
      right: $unit * 2;
      top: 4px;
      z-index: 1;
    }
  }
}