/*
* Defaults
*
* Site wide variables and mixins
*
*/


/*
* Variables
*
*/

$unit: 8px;
$font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$mobile-breakpoint: 800px !default;


/*
* Mixins
*
*/

@mixin mobile {
  @media handheld and (max-width: $mobile-breakpoint),
  screen and (max-device-width: $mobile-breakpoint),
  screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    @content;
  }
}

.visible-phone {
  display: none;
}

.visible-desktop {
  display: block;
}

