/*
* Base
*
* Baseline variables and mixins for website
*
*/

$unit: 8px;


/*
* Color Values
*
* Based off of the Materil Design Color Palette
* www.google.com/design/spec/style/color.html#color-color-palette
*/

//BASIC
$white: #FFF;
$black: #000;

// BLUE GREY
$blue-grey-50: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-300: #90A4AE;
$blue-grey-400: #78909C;
$blue-grey-500: #607D8B;
$blue-grey-600: #546E7A;
$blue-grey-700: #455A64;
$blue-grey-800: #37474F;
$blue-grey-900: #263238;
