/*
* Base
*
* Baseline variables and mixins for website
*
*/

$unit: 8px;


/*
* Color Values
*
* Based off of the Materil Design Color Palette
* www.google.com/design/spec/style/color.html#color-color-palette
*/

//BASIC
$white: #FFF;
$black: #000;

// BlUE
$blue-50: #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;


// BLUE GREY
$blue-grey-50: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-300: #90A4AE;
$blue-grey-400: #78909C;
$blue-grey-500: #607D8B;
$blue-grey-600: #546E7A;
$blue-grey-700: #455A64;
$blue-grey-800: #37474F;
$blue-grey-900: #263238;
